In [ ]:
usd = 2000
bp = usd *0.82
print(bp)

1640.0

In [ ]:
usd = 2000
bp = usd*0.82
print("USD " + str(usd) + " is equivalent to " + str(bp))

USD 2000 is equivalent to 1640.0

In [ ]:
usd_amount = input ("Enter the amount in USD: ")
bp_amount = float(usd_amount) * 0.82
print("{} usd is eqivalent to {} british pound".format(usd_amount, bp_amount))

Enter the amount in USD: 100
100 usd is eqivalent to 82.0 british pound

In [ ]:
import sys
sys.version

'3.12.12 (main, Oct 10 2025, 08:52:57) [GCC 11.4.0]'

In [ ]:
temp_F = input("Enter temperature in F: ")
temp_C = (int(temp_F)-32)*5/9
print("{} Feranhite is equal to {:.2f} Celsius".format(temp_F, temp_C))

Enter temperature in F: 80
80 Feranhite is equal to 26.67 Celsius

In [ ]:
apple_qty = input("Enter number of apples : ")
apple_price = input ("Price per apple: ")

orange_qty = input("Enter number of oranges : ")
orange_price = input ("Price per orange: ")

mango_qty = input("Enter number of mangoes : ")
mango_price = input ("Price per mango: ")

total_cost = int(apple_qty)*int(apple_price) + int(orange_qty)*int(orange_price) + int(mango_qty)*int(mango_price)
print("Total cost is : ", total_cost)

Enter number of apples : 5
Price per apple: 3
Enter number of oranges : 20
Price per orange: 2
Enter number of mangoes : 15
Price per mango: 1
Total cost is :  70

In [ ]:
name = input ("Enter your name : ")
print("Hello " + name)

Enter your name : Yolanda
Hello Yolanda

In [ ]:
from random import randint
x = randint(1,10)
print('A random number between 1 and 10: ', x)
y = randint(2,5)
print('A random number between 2 and 5: ', y)

result = int(x)^int(y)
print("The result is : ", result)

A random number between 1 and 10:  8
A random number between 2 and 5:  2
The result is :  10

In [ ]:
from random import randint
x = randint(1,10)
name = input ("Enter your name : ")
print('A random number between 1 and 10: ', x)
for _ in range(x):
  print(name)

Enter your name : Yolanda
A random number between 1 and 10:  6
Yolanda
Yolanda
Yolanda
Yolanda
Yolanda
Yolanda

In [ ]:
x = int(input("Enter the number for x: "))
y = int(input("Enter the number for y: "))

result = (x - y) / (x + y)
print("The final resutl is: ", result)

Enter the number for x: 10
Enter the number for y: 2
The final resutl is:  0.6666666666666666

In [ ]:
second = int(input("Enter the number of seconds: "))
minutes = second // 60
remaining_seconds = second % 60
print(f"{second} second is {minutes} minutes and  {remaining_seconds} seconds.")

Enter the number of seconds: 300
300 second is 5 minutes and  0 seconds.

In [ ]:
import math
num = float(input("Enter a number:"))
sine_value = math.sin(num)
cosine_value = math.cos(num)
tangent_value = math.tan(num)

print(sine_value, cosine_value, tangent_value)

Enter a number:50
-0.26237485370392877 0.9649660284921133 -0.27190061199763077

In [ ]:
print(len("My name is Python"))

17

In [ ]:
paragraph = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
count = paragraph.lower().count("python")

print("Python appears {} times".format(count))

Python appears 2 times

In [ ]:
Is1 = ["apple", "banana", "cherry"]
Is2 = ["apple", "banana", "cherry", "apple", "cherry"]
print(len(Is1+Is2))

8

In [ ]:
my_dict = {'Name': ['Myo', 'Thida'], 'Age': [32, 64]}
print(my_dict)

{'Name': ['Myo', 'Thida'], 'Age': [32, 64]}

In [ ]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
new_set = set1.union(set2)
print(new_set, "\n The number of elements in new set is {}".format(len(new_set)) )

{'Height', 'age', 'Education', 'status', 'Name'}
 The number of elements in new set is 5

In [ ]:
user_string = input("Enter a string: ")
new_string = user_string.replace(user_string[1], '*')
new_string = new_string + "!!!"
print(new_string)

Enter a string: Yolanda
Y*landa!!!

In [ ]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language. "
new_string = s.lower().replace(",","").replace(";","").replace(".","").replace("-","").replace(":","")
print(new_string)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language

In [ ]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
print(set(L1).difference(set(L2)))

{92}

In [ ]:
Is1 = ["apple", "banana", "cherry"]
Is2 = Is1.copy()
Is2.append("blueberry")
print('original:', Is1)
print('new list:', Is2)

original: ['apple', 'banana', 'cherry']
new list: ['apple', 'banana', 'cherry', 'blueberry']

In [ ]:
mark = input("Enter your mark: ")
mark = int(mark)
if (mark > 100 or mark < 0):
  print("Data entry mistake!")
elif (mark > 90):
    print("You get excellent")
elif (mark > 80):
      print("You get A")
elif (mark > 50):
        print("You pass")
else:
          print("You fail")

Enter your mark: 100
You get excellent

In [ ]:
length = input("Enter a length in centimeters: ")
length = int(length)
if (length < 0):
  print("The Entry is invalid!")
else:
  inches = length / 2.54
  print(f"{length} centimeters is {inches} inches.")

Enter a length in centimeters: -65
The Entry is invalid!

In [ ]:
temperature = input("Enter a temperature in celsius: ")
temperature = float(temperature)
if (temperature < -273.15):
  print("The temperature is invalid!")
elif (temperature == -273.15):
  print("The temperature is absolute 0")
elif (temperature > -273.15 and temperature < 0):
  print("The temperature is below freezing")
elif (temperature == 0):
  print("The temperature is at the freezing point")
elif (temperature > 0 and temperature < 100):
  print("The temperature is in the normal range")
elif (temperature == 100):
  print("The temperature is at the boiling point")
else:
  print("The temperature is above the boiling point")

Enter a temperature in celsius: 66
The temperature is in the normal range

In [ ]:
credits = input("Enter the credits you have taken: ")
credits = int(credits)
if (credits <= 23):
  print("The student is a freshman")
elif (credits > 24 and credits < 53):
  print("The student is a sophomore")
elif (credits > 54 and credits < 83):
  print("The student is a junior")
else:
  print("The student is a senior")

Enter the credits you have taken: 99
The student is a senior

In [ ]:
from random  import randint
num = randint(1,10)
guess = input("Enter your guess: ")
if guess == num:
  print("You got it!")
else:
  print("Sorry, the number is ", num)

Enter your guess: 1
Sorry, the number is  6

In [ ]:
item = input("Enter the number of items you have bought: ")
item =int(item)
if (item < 10):
  cost = item * 12
elif (item <= 99):
  cost = item * 10
else:
  cost = item * 7

print("Total cost is: $", cost)

Enter the number of items you have bought: 20
Total cost is: $ 200

In [ ]:
num = input("Enter two numbers: ")
num = float(num)
if (num <= .001):
  print("Close")
else:
  print("Not Close")

Enter two numbers: 1.001
Not Close

In [ ]:
year = input("Enter a year: ")
year = int(year)
if year % 4 == 0:
  print("Leap year")
elif year % 100 == 0:
  print("Not a leap year")
else:
   print("Leap year")

Enter a year: 2026
Leap year

In [6]:
num = int(input("Enter a number: "))
print("The divisors of", num, "are:")
for i in range(1, num + 1):
  if num % i == 0:
    print(i)

Enter a number: 34
The divisors of 34 are:
1
2
17
34

In [4]:
import random

for i in range(1,11):
  num1 = random.randint(1,10)
  num2 = random.randint(1,10)

  print(f"Question {i}: {num1} * {num2} = ", end="")
  answer = int(input())
  correct_answer = num1 * num2
  if answer == correct_answer:
    print("Right!")
  else:
    print(f"Worng. The answer is {correct_answer}")

Question 1: 8 * 10 = 80
Right!
Question 2: 2 * 9 = 54
Worng. The answer is 18
Question 3: 2 * 10 = 20
Right!
Question 4: 2 * 3 = 5
Worng. The answer is 6
Question 5: 3 * 7 = 21
Right!
Question 6: 3 * 8 = 22
Worng. The answer is 24
Question 7: 7 * 7 = 49
Right!
Question 8: 5 * 2 = 87
Worng. The answer is 10
Question 9: 2 * 9 = 18
Right!
Question 10: 2 * 7 = 17
Worng. The answer is 14